form.task-form textarea { width: 90%; height: 200px; }
form.task-form input { width: 90%; }
.min-w270{
    min-width: 270px;
}

.my-courses{
    font-size: 21px;
    line-height: 25px;
}

.relative{
    position: relative;
}

a.unsubscribe-from-course{
    position: absolute;
    top: 0;
    right: 20px;
}