{% for lesson in lessons %}
<h4><a href="{{ path('lesson_index', {'id': lesson.id }) }}">{{ lesson.title }} / {{ lesson.course.title }}</a>
    <small class="muted">{{ lesson.createdAt('d.m.Y')}}</small>
</h4>
<hr>
{% endfor %}